body{
    background-color: grey;
}

.headingone{
    background-color: whitesmoke;
}
#headingfour{
background-color:rgba(4, 0, 107, 1);
}
#paraone{
    margin-top: -1.4em;
background-color: 
rgba(7, 0, 134, 1)
}

#paratwo{
     margin-top: -1em;
    background-color:
    rgba(7, 0, 214, 1)
}
#parathree{
     margin-top: -1em;
    background-color: rgba(112, 107, 255, 1)
}
#parafour{
    margin-top: -1em;
    background-color:
     
    rgba(112, 130, 255, 1)
}
#parafive{
     margin-top: -1em;
    background-color: 
     rgba(166, 163, 255, 1)
}
#parasix{
     margin-top: -1em;
    background-color: 
    rgba(211, 209, 255, 1)
}
.allpara{
    color: white;
}
#neutral{
     margin-top: -1em;
    background-color: green;
}
span{
    font-weight: normal;
}
#paratwelve{
     margin-top: -1em;
    background-color: rgba(102, 0, 65, 1)
}
#paraeleven{
     margin-top: -1em;
    background-color: rgba(133, 0, 84, 1)
}
#paraten{
     margin-top: -1em;
    background-color: rgba(153, 0, 97, 1)
}
#paranine{
     margin-top: -1em;
    background-color: rgba(214, 0, 136, 1)
}
#paraeight{
     margin-top: -1em;
    background-color: rgba(255, 77, 190, 1)
}
#paraseven{
     margin-top: -1.5em;
    background-color: rgba(255, 163, 221, 1)
    
}
.verybasic{
    text-shadow: 1px 1px 3px #666666;}
}
